configuration {
  display-drun: "Applications:";
  drun-display-format: "{icon} {name}";
  font: "NotoSansMono-Regular 12";
  show-icons: true;
  kb-cancel: "Escape,Control+q,MousePrimary,MouseSecondary";
  click-to-exit: true;
  icon-theme: "breeze-dark";
}

@theme "~/.config/rofi/themes/adi1090x-type-6.rasi"
